/*全局样式*/

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background: #f6a055;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica;
  text-align: left;
  color: #666666;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}


/*字体大小*/

div {
  font-size: 14px;
}

[data-dpr="2"] div {
  font-size: 28px;
}

[data-dpr="3"] div {
  font-size: 42px;
}

.font24 {
  font-size: 12px;
}

[data-dpr="2"] .font24 {
  font-size: 24px;
}

[data-dpr="3"] .font24 {
  font-size: 36px;
}

.font26 {
  font-size: 13px;
}

[data-dpr="2"] .font26 {
  font-size: 26px;
}

[data-dpr="3"] .font26 {
  font-size: 39px;
}

.font28 {
  font-size: 14px;
}

[data-dpr="2"] .font28 {
  font-size: 28px;
}

[data-dpr="3"] .font28 {
  font-size: 42px;
}

.font30 {
  font-size: 15px;
}

[data-dpr="2"] .font30 {
  font-size: 30px;
}

[data-dpr="3"] .font30 {
  font-size: 45px;
}

.font32 {
  font-size: 16px;
}

[data-dpr="2"] .font32 {
  font-size: 32px;
}

[data-dpr="3"] .font32 {
  font-size: 48px;
}

.font34 {
  font-size: 17px;
}

[data-dpr="2"] .font34 {
  font-size: 34px;
}

[data-dpr="3"] .font34 {
  font-size: 51px;
}


/*start*/

.wrap {
  width: 10rem;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg.jpg) top center no-repeat #f6a055;
  background-size: 10rem 10.03rem;
  position: relative;
}

.cloud {
  width: 8.72rem;
  height: 2.69rem;
  position: absolute;
  top: .53rem;
  left: .75rem;
  animation: cloud 5s infinite linear;
}

@keyframes cloud {
  0% {
    left: .75rem;
    top: .53rem;
  }
  25% {
    left: 1.05rem;
    top: .53rem;
  }
  50% {
    left: .75rem;
    top: .53rem;
  }
  75% {
    left: 0.4rem;
    top: .53rem;
  }
  100% {
    left: .75rem;
    top: .53rem;
  }
}

.cloud img {
  width: 100%;
  height: 100%;
}

.logo {
  width: 6.39rem;
  margin: 0 auto;
  padding-top: 1.15rem;
}

.logo img {
  width: 100%;
  height: 100%;
}


.video {
  width: 8.04rem;
  height: 4.75rem;
  margin: .45rem auto 0;
}

.video img {
  width: 100%;
  height: 100%;
}

.title {
  width: 7.57rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: linear-gradient(#e62460, #ea5583);
  margin: .8rem auto .4rem;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: .8rem;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  color: #fff;
  font-weight: bold;
}

.content {
  width: 8.93rem;
  margin: 0 auto;
  padding: .45rem;
  color: #fff;
  background: linear-gradient(#e62460, #ea5583);
  ;
  border-radius: .2rem;
  text-align: left;
}

.btn {
  width: 70%;
  margin: 1.33rem auto .53rem;
  height: 1rem;
  line-height: 1rem;
  color: #fff;
  background: #f6254c;
  display: block;
  border-radius: .2rem;
  text-decoration: none;
  font-weight: bold;
}
.btn2{background: #666;}

.tip {
  color: #fff;
  line-height: 1rem;
}

.wrap2 {
  background: none;
}

.star {
  width: 8.12rem;
  height: 4.6rem;
  position: absolute;
  left: 1rem;
  top: .7rem;
  z-index: 998;
  animation: star 5s infinite linear;
}

@keyframes star {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.star img {
  width: 100%;
  height: 100%;
}

.logo2 {
  width: 2.57rem;
  height: 3.44rem;
  z-index: 999;
  position: absolute;
  left: 3.71rem;
  top: .64rem;
}

.wrap form {
  width: 100%;
  margin: 0 auto;
  padding-top: 5.2rem;
  color: #fff;
}

.form-group {
  width: 10rem;
  margin-bottom: .46rem;
}

.form-group label {
  width: 3rem;
  text-align: right;
}

.form-input input {
  width: 5.6rem;
  border: none;
  border-bottom: 2px solid #fff;
  background: #f6a055;
  color: #fff;
}

.form-group2 label {
  width: 4rem;
}

.form-group2 .form-input input {
  width: 3rem;
}

.form-group2 .form-input2 input {
  width: 6rem;
}

.form-how {
  text-align: left;
}

.form-how input {
  margin: 0 .1rem;
}

input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  width: .4rem;
  height: .4rem;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  outline: 0 !important;
  line-height: .4rem;
  color: #d8d8d8;
}

input[type=radio]:after {
  content: "";
  display: block;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  text-align: center;
  line-height: .26rem;
  font-size: .3rem;
  color: #fff;
  border: 3px solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
}

input[type=radio]:checked:after {
  content: "L";
  transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
  -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
  border-color: #099414;
  background-color: #099414;
}

.tips{ width: 90%; line-height: 46px; margin: 0 auto; text-align: center; color: #fff; margin-bottom: 30px; font-weight: bold; color: red;}

.tips2{text-align: left; line-height: 56px;}

.submit-tips{ display: block; margin-top: 8px;}

.tg{ display: none;}
