// 全局样式
*
  box-sizing border-box
  max-height 100000px
  margin 0
  padding 0
*:before, *:after
  box-sizing border-box
  max-height 100000px
*, *:before, *:after
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, textarea, td
  border 0 none
  font-size inherit
  color inherit
  margin 0
  padding 0
  vertical-align baseline
h1, h2, h3, h4, h5, h6
  font-weight normal
em, strong
  font-style normal
textarea
  display inline-table
ul, ol, li
  list-style none
body
  font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif
  line-height 1.5
  color #333
  background-color #fff
  font-size 0.24rem
  padding-bottom constant(safe-area-inset-bottom)
  padding-bottom env(safe-area-inset-bottom)
a
  text-decoration none
.clearfix
  zoom 1
  &:after
    content "."
    display block
    height 0
    visibility hidden
    clear both
.fl
  float left
.fr
  float right


//iphoneX底部适配
@supports (bottom constant(safe-area-inset-bottom)) or (bottom env(safe-area-inset-bottom))
  .iphonex
    margin-bottom: constant(safe-area-inset-bottom)
    margin-bottom: env(safe-area-inset-bottom)


// 通用
.wrap
  position relative
  max-width 100%
  margin 0 auto


// start























// end
